<h2>Ticket</h2>
<ng-container *ngIf="ticket$ | async as ticket; else loading">
  Ticket: {{ticket.id}}, {{ticket.description}}<br>
  Completed: {{ticket.completed}}<br>
  <button (click)="complete(ticket.id)" [disabled]="ticket.completed">Complete</button>
</ng-container>
<ng-template #loading>loading...</ng-template>
<br>
<a [routerLink]="'/'">return to list</a>
