<app-ticket-form></app-ticket-form>
<h2>Tickets</h2>
<ul>
  <li *ngFor="let ticket of tickets$ | async">
    Ticket: {{ticket.id}}, {{ticket.description}}
    <a routerLink="/{{ticket.id}}">details</a>
  </li>
</ul>

