<h2>Add new Ticket</h2>
<form [formGroup]="form" style="display: flex; gap: 8px;">
  <input formControlName="description" placeholder="description">
  <button
      (click)="save()"
      [disabled]="!form.valid"
      type="button">
    Save
  </button>
</form>
